<h1><%= @client.name %></h1>
 
<%= image_tag @client.image, :class => 'feature' if @client.image.present? %>
<ul>
    <li>Name: <%= @client.name %></li>
    <li>phone: <%= @client.phone %></li>
    <li>email: <%= @client.email %></li>
    <li>Address: <%= @client.address %></li>
    <li>Heard us from: <%= @client.heard_us_from %></li>
    <li>preferred_style: <%= @client.preferred_style %></li>
</ul>



<div class="controls">
    <%= link_to "Edit client", edit_client_path(@client)%>
    <%= button_to "Delete client", @client, :method => 'delete', :data => { :confirm => "Are you sure?"} %>
</div>