<h1>All Designers</h1>

<% @designers.each do |designer|%>
    <%= image_tag designer.image if designer.image.present? %>
        <ul>
            <li>Name: <%= link_to designer.name, designer %></li>
            <li>Date of Birth: <%= designer.dob.strftime '%B %e, %Y' %></li>
            <li>Emplyment Date: <%= designer.hireyear %></li>
            <li>Phone: <%= designer.phone %></li>
            <li>Email: <%= designer.email %> </li>
            <li>Address: <%= designer.address%></li>
            <li>Award: <%= designer.award %></li>

        </ul>
<% end %>